<style>
  a {
    text-decoration: none;
    color: inherit;
  }
</style>

<footer>
  <div class="f-info mt-3 sticky-bottom">
    <div class="f-info-socials">
      <a
        href="https://www.linkedin.com/posts/harryohm33_nodejs-expressjs-mongodb-activity-7192756916190650368-9Mnj?utm_source=share&utm_medium=member_desktop"
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <a href="https://github.com/HarryOhm33/Wonderlust.git" target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; WonderLust Private Limited</div>
    <div class="f-info-links">
      <a href="#">Privacy</a>
      &nbsp;&nbsp;&nbsp;
      <a href="#">Terms</a>
    </div>
  </div>
</footer>
