<style>
  .btn-search {
    background-color: #fe424d;
    color: white;
    display: inline-flex;
    align-items: center;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .btn-search:hover {
    background-color: #fe424d;
    color: white;
  }

  .btn-search i {
    margin-right: 0.3rem;
  }

  .s-box {
    width: 20rem;
    border-radius: 25px;
  }
</style>

<nav
  class="navbar navbar-expand-sm bg-body-light bg-white border-bottom navbar-a"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-regular fa-compass"></i> <b>Wonderlust</b></a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">All Listings</a>
      </div>
      <!-- <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2 s-box"
            type="search"
            placeholder="Search Destinations..."
          />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div> -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser) { %>
        <a class="nav-link active" aria-current="page" href="/signup"
          ><b>SignUp</b></a
        >
        <a class="nav-link" href="/login"><b>LogIn</b></a>
        <% } %> <% if(currUser) { %>
        <a class="nav-link" href="/logout"><b>LogOut</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
